{% extends 'base.html' %}

{% block content %}

<div id = "contenu">
    <h1 class='titre' >Sauver des vies humaines en mer, mission première de la SNSM</h1>

    <img class='photo' id="secours" src="{{url_for('static', filename='secours.PNG')}}" />



    <P>La SNSM est l’un des principaux acteurs de la recherche et du sauvetage en mer.</p>
        
    <p>La SNSM est la seule organisation agréée dédiée au sauvetage en mer en France</P> 

    <p>Les centres régionaux opérationnels de surveillance et de sauvetage sont au cœur du dispositif de recherche et de sauvetage en mer. Leurs missions :</P>

        <ul>
            <li>assurer une veille permanente des dispositifs de détresse ;</li>
            <li>recevoir et analyser les messages de détresse ;</li>
            <li>planifier les opérations de recherche et de sauvetage ;</li>
            <li>actionner et coordonner les moyens les plus appropriés pour intervenir : navires  sur zone, canots de sauvetage, hélicoptères, etc.
            </li>
        </ul>


    <p> Sur alerte du CROSS, le patron de l’embarcation des Sauveteurs en Mer la plus proche et la mieux équipée au regard des circonstances, réunit son équipage pour appareiller dans un délai de 20 minutes. Les Sauveteurs en Mer réalisent près de 50 % des interventions maritimes coordonnées par les CROSS.</p>

        
    <p> En cas d'opération importante, le CROSS peut faire intervenir plusieurs équipages et tout moyen qu'il juge utile (hélicoptère, avion, Marine nationale, etc.). Le patron du canot ou de la vedette est en contact avec le CROSS pendant toute la durée de l'opération de sauvetage.</p>
        
        
    <p> La réactivité et le savoir-faire des Sauveteurs en Mer, leurs équipements mais également la gestion de l’organisation d’une opération de sauvetage sont primordiaux pour mener à bien leur mission de recherche et de sauvetage en mer.
        Le sauvetage de la vie humaine en mer est obligatoire et gratuit. </p>
        
        
        
        
    <p>Il s’impose à quiconque est en mesure de porter secours dans les limites de sa propre sécurité.</p>
        
        
    <p>À l’occasion des interventions de sauvetage aux personnes, les moyens de la SNSM peuvent être amenés à porter également assistance aux biens - navires et embarcations en difficulté - en cas de danger potentiel ou avéré. Ces opérations – juridiquement fondées sur les textes en vigueur (Code des transports) – sont conduites sous le contrôle exclusif des CROSS. Elles peuvent donner lieu à un dédommagement des frais engagés (gasoil, entretien du navire, etc.). </P>



    <img class='photo' id="sauveteurs" src="{{url_for('static', filename='sauveteurs.PNG')}}" />

   

    
 
    <div>
        <p>
            Institutionnel
            N'attendez pas d'avoir une bonne raison de soutenir les Sauveteurs en Mer !
        </p>

    </div>
</div>

{% endblock %}   


</html>